@charset "UTF-8";
/************************************
** 基本設定（General Setting）
************************************/
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  font-size:1em;
  font-size: 16px;
  color: #444242;
  font-family: "游ゴシック", YuGothic, sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #444242;
	transition: all .3s;
}

a:hover {
  cursor: pointer;
  opacity: .7;
}

img {
  border-width: 0;
}

div {
  box-sizing: border-box;
}

p {
  line-height: 1.5em;
}

.clearfix {
  min-height: 1px;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

* html .clearfix {
  height: 1px;
}

.wrap {
  display: flex;
  height: 100vh;
  min-height: 100%;
  max-height: calc(100% - 50px);
  overflow-y: scroll;
}

.section__left {
  /*background: blue;*/
  width: 70%;
  min-height: 100%;
  max-height: 100%;
}

.section__right {
  width: 30%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  border-left: 1px solid #F5E1E1;
}

.catList__head {
  background: #F97777;
  color: #fff;
  padding: 10px;
}

.catList {
  height: 100%;
}

.catList__item {
  background: #fff;
  height: auto;
  border-bottom: 1px solid #F5E1E1;
  padding: 10px;
  transition: all .3s;
}

.catList__item.active,
.catList__item:hover {
  background: #F5E1E1;
  cursor: pointer;
}

.catList__item__name {
  font-weight: bold;
}

.catList__item__button {
  color: #fff;
  background: #F97777;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 10px;
  display: inline-block;
  margin-top: 5px;
}
